<p id="notice"><%= notice %></p>

<p>
  <b>Email:</b>
  <%= @user.email %>
</p>

<p>
  <b>Handle:</b>
  <%= @user.handle %>
</p>

<p>
  <b>Passcode:</b>
  <%= @user.passcode %>
</p>


<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
