<%= form_for(@command) do |f| %>
  <% if @command.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@command.errors.count, "error") %> prohibited this command from being saved:</h2>

      <ul>
      <% @command.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :user %><br />
    <%= f.text_field :user %>
  </div>
  <div class="field">
    <%= f.label :str %><br />
    <%= f.text_field :str %>
  </div>
  <div class="field">
    <%= f.label :ran_at %><br />
    <%= f.datetime_select :ran_at %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
