<h1>Listing commands</h1>

<table>
  <tr>
    <th>User</th>
    <th>Str</th>
    <th>Ran at</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @commands.each do |command| %>
  <tr>
    <td><%= command.user %></td>
    <td><%= command.str %></td>
    <td><%= command.ran_at %></td>
    <td><%= link_to 'Show', command %></td>
    <td><%= link_to 'Edit', edit_command_path(command) %></td>
    <td><%= link_to 'Destroy', command, :method => :delete, :data => { :confirm => 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Command', new_command_path %>
