<p id="notice"><%= notice %></p>

<p>
  <b>User:</b>
  <%= @command.user %>
</p>

<p>
  <b>Str:</b>
  <%= @command.str %>
</p>

<p>
  <b>Ran at:</b>
  <%= @command.ran_at %>
</p>


<%= link_to 'Edit', edit_command_path(@command) %> |
<%= link_to 'Back', commands_path %>
